<div class="row mx-auto text-center">
    <h1>Rental ID: {{rental._id | uppercase}}</h1>
    <div class="row row-cols-6 row-centered">
    </div>
    <div class="card mx-auto" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Rental ID: {{rental._id}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Rental Camera Model: <h5>{{camera.vendor}} | {{camera.model}}</h5></h6>
          <p class="card-text">Rental Customer Name:</p><h5>{{customer.full_name}}</h5>
          <a [routerLink]="['/home']" class="btn btn-outline-danger btn-block">Go back</a>
        </div>
      </div>
</div>

